<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxqvue.erp.mapper.ErpOutboundOrderDetailMapper">
    
    <resultMap type="ErpOutboundOrderDetail" id="ErpOutboundOrderDetailResult">
        <result property="id"    column="id"    />
        <result property="outboundId"    column="outbound_id"    />
        <result property="outboundNo"    column="outbound_no"    />
        <result property="materialId"    column="material_id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialSpec"    column="material_spec"    />
        <result property="materialModel"    column="material_model"    />
        <result property="unitId"    column="unit_id"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="unitName"    column="unit_name"    />
        <result property="plannedQuantity"    column="planned_quantity"    />
        <result property="actualQuantity"    column="actual_quantity"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="lotNo"    column="lot_no"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectErpOutboundOrderDetailVo">
        select id, outbound_id, outbound_no, material_id, material_code, material_name, material_spec, material_model, unit_id, unit_code, unit_name, planned_quantity, actual_quantity, unit_price, total_amount, batch_no, lot_no, serial_no, shelf_id, shelf_code, shelf_name, location_id, location_code, location_name, remark, create_by, create_time, update_by, update_time from erp_outbound_order_detail
    </sql>

    <select id="selectErpOutboundOrderDetailList" parameterType="ErpOutboundOrderDetail" resultMap="ErpOutboundOrderDetailResult">
        <include refid="selectErpOutboundOrderDetailVo"/>
        <where>  
            <if test="outboundId != null "> and outbound_id = #{outboundId}</if>
            <if test="outboundNo != null  and outboundNo != ''"> and outbound_no like concat('%', #{outboundNo}, '%')</if>
            <if test="materialId != null "> and material_id = #{materialId}</if>
            <if test="materialCode != null  and materialCode != ''"> and material_code like concat('%', #{materialCode}, '%')</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="materialSpec != null  and materialSpec != ''"> and material_spec like concat('%', #{materialSpec}, '%')</if>
            <if test="materialModel != null  and materialModel != ''"> and material_model like concat('%', #{materialModel}, '%')</if>
            <if test="unitId != null "> and unit_id = #{unitId}</if>
            <if test="unitCode != null  and unitCode != ''"> and unit_code like concat('%', #{unitCode}, '%')</if>
            <if test="unitName != null  and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
            <if test="plannedQuantity != null "> and planned_quantity = #{plannedQuantity}</if>
            <if test="actualQuantity != null "> and actual_quantity = #{actualQuantity}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="batchNo != null  and batchNo != ''"> and batch_no like concat('%', #{batchNo}, '%')</if>
            <if test="lotNo != null  and lotNo != ''"> and lot_no like concat('%', #{lotNo}, '%')</if>
            <if test="serialNo != null  and serialNo != ''"> and serial_no like concat('%', #{serialNo}, '%')</if>
            <if test="shelfId != null "> and shelf_id = #{shelfId}</if>
            <if test="shelfCode != null  and shelfCode != ''"> and shelf_code like concat('%', #{shelfCode}, '%')</if>
            <if test="shelfName != null  and shelfName != ''"> and shelf_name like concat('%', #{shelfName}, '%')</if>
            <if test="locationId != null "> and location_id = #{locationId}</if>
            <if test="locationCode != null  and locationCode != ''"> and location_code like concat('%', #{locationCode}, '%')</if>
            <if test="locationName != null  and locationName != ''"> and location_name like concat('%', #{locationName}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectErpOutboundOrderDetailById" parameterType="Long" resultMap="ErpOutboundOrderDetailResult">
        <include refid="selectErpOutboundOrderDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertErpOutboundOrderDetail" parameterType="ErpOutboundOrderDetail" useGeneratedKeys="true" keyProperty="id">
        insert into erp_outbound_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="outboundId != null">outbound_id,</if>
            <if test="outboundNo != null and outboundNo != ''">outbound_no,</if>
            <if test="materialId != null">material_id,</if>
            <if test="materialCode != null">material_code,</if>
            <if test="materialName != null">material_name,</if>
            <if test="materialSpec != null">material_spec,</if>
            <if test="materialModel != null">material_model,</if>
            <if test="unitId != null">unit_id,</if>
            <if test="unitCode != null and unitCode != ''">unit_code,</if>
            <if test="unitName != null and unitName != ''">unit_name,</if>
            <if test="plannedQuantity != null">planned_quantity,</if>
            <if test="actualQuantity != null">actual_quantity,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="lotNo != null">lot_no,</if>
            <if test="serialNo != null">serial_no,</if>
            <if test="shelfId != null">shelf_id,</if>
            <if test="shelfCode != null and shelfCode != ''">shelf_code,</if>
            <if test="shelfName != null and shelfName != ''">shelf_name,</if>
            <if test="locationId != null">location_id,</if>
            <if test="locationCode != null and locationCode != ''">location_code,</if>
            <if test="locationName != null and locationName != ''">location_name,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="outboundId != null">#{outboundId},</if>
            <if test="outboundNo != null and outboundNo != ''">#{outboundNo},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="materialSpec != null">#{materialSpec},</if>
            <if test="materialModel != null">#{materialModel},</if>
            <if test="unitId != null">#{unitId},</if>
            <if test="unitCode != null and unitCode != ''">#{unitCode},</if>
            <if test="unitName != null and unitName != ''">#{unitName},</if>
            <if test="plannedQuantity != null">#{plannedQuantity},</if>
            <if test="actualQuantity != null">#{actualQuantity},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="lotNo != null">#{lotNo},</if>
            <if test="serialNo != null">#{serialNo},</if>
            <if test="shelfId != null">#{shelfId},</if>
            <if test="shelfCode != null and shelfCode != ''">#{shelfCode},</if>
            <if test="shelfName != null and shelfName != ''">#{shelfName},</if>
            <if test="locationId != null">#{locationId},</if>
            <if test="locationCode != null and locationCode != ''">#{locationCode},</if>
            <if test="locationName != null and locationName != ''">#{locationName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateErpOutboundOrderDetail" parameterType="ErpOutboundOrderDetail">
        update erp_outbound_order_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="outboundId != null">outbound_id = #{outboundId},</if>
            <if test="outboundNo != null and outboundNo != ''">outbound_no = #{outboundNo},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="materialSpec != null">material_spec = #{materialSpec},</if>
            <if test="materialModel != null">material_model = #{materialModel},</if>
            <if test="unitId != null">unit_id = #{unitId},</if>
            <if test="unitCode != null and unitCode != ''">unit_code = #{unitCode},</if>
            <if test="unitName != null and unitName != ''">unit_name = #{unitName},</if>
            <if test="plannedQuantity != null">planned_quantity = #{plannedQuantity},</if>
            <if test="actualQuantity != null">actual_quantity = #{actualQuantity},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="lotNo != null">lot_no = #{lotNo},</if>
            <if test="serialNo != null">serial_no = #{serialNo},</if>
            <if test="shelfId != null">shelf_id = #{shelfId},</if>
            <if test="shelfCode != null and shelfCode != ''">shelf_code = #{shelfCode},</if>
            <if test="shelfName != null and shelfName != ''">shelf_name = #{shelfName},</if>
            <if test="locationId != null">location_id = #{locationId},</if>
            <if test="locationCode != null and locationCode != ''">location_code = #{locationCode},</if>
            <if test="locationName != null and locationName != ''">location_name = #{locationName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteErpOutboundOrderDetailById" parameterType="Long">
        delete from erp_outbound_order_detail where id = #{id}
    </delete>

    <delete id="deleteErpOutboundOrderDetailByIds" parameterType="String">
        delete from erp_outbound_order_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteErpOutboundOrderDetailByOutboundId" parameterType="Long">
        delete from erp_outbound_order_detail where outbound_id = #{outboundId}
    </delete>
</mapper>
